.reveal-if-active {
  opacity: 0;
  display:block;
  overflow:auto;
  max-height: 0;
  font-size: 16px;
  -webkit--webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reveal-if-active label {
  display:block;
  overflow:auto;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
  width: 100%;
  display:block;
  overflow:auto;
}
#bcl{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 220px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  display:block;
  overflow:visible;
}

form {
  max-width: 500px;
  margin: 20px auto;
}
form > div {
  margin: 0 0 20px 0;
}
form > div label {
  font-weight: bold;
}
form > div > div {
  padding: 5px;
}
form > h4 {
  color:blue;
  font-size: 24px;
  margin: 0 0 10px 0;
  border-bottom: 2px solid blue;
}

body {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.bigger-width {padding-right:25px!important;}